// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.code-shadow {
}

code-shadow {
    display: block;
    position: absolute;
    padding: 0.3em;
    border-radius: 0.4em;
    bottom: -0.3em;
    z-index: 1;
}

code-shadow.shadow-function {
    background-color: fadeout(#88F, 70%);
    color: fadeout(#FFF, 30%);
}
