// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.code-shadow {
}

code-shadow {
    display: block;
    position: absolute;
    padding: 2px;
    border-radius: 3px;
    z-index: 1;
    font-size: 0.8em;
}

code-shadow.line-element {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #88F;
    width: 100px;
    clip: rect(0px, 6px, 9999999px, 0px);
}

code-shadow.text-element {
    color: fadeout(#FFF, 30%);
}

code-shadow-container {
    display: block;
    position: absolute;
    width: 500px;
}
